.contact{
    margin-left: 19%;
    height: 100vh;
    margin-top: 50px;
    position: relative;

    .contact-contain-left > *{
        padding: 0.9rem 0;
    }

    .contact-contain-left{
        position: absolute;
        background-color: $color-blue-brand;
        height: 500px;
        top: 11.5%;
        z-index: 1;

        h1{
            color: white;
            text-align: center;
        }

        a{
            display: inline-flex;
            color: white;
            margin: 10px auto;
            font-size: 1rem;
            align-self: center;
            justify-content: center;
            align-items: center;

            &:hover{
                text-decoration: none;
            }

            i{
                margin-right: 5px;
                color: $color-black-brand;
                background-color: $color-yellow-brand;
                font-size: 2.5rem;
                border-radius: 50%;
                padding: 10px;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .contact-contain-right{
        position: absolute;
        background-color: white;
        left: 13%;
        padding-top: 60px;
        padding-bottom: 70px;
        margin-top: 25px;
        height: 600px;
        display: flex;
        justify-content: start;

        form{
            padding-top: 50px;
            margin-left: 250px;
        }

        label{
            color: $color-blue-brand;
            font-weight: bold;
            font-size: 1.4rem;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        input, textarea{
            width: 150%;
            display: block;
            background-color: $color-yellow-brand;
            border-radius: 5px;
            padding: 8px 5px;
            border: none;
            margin-bottom: 10px;
            outline: none;
        }

        textarea{
            min-height: 100px;
            max-height: 100px;
        }

        .btn-input{
            background-color: $color-blue-brand;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }
    }
}

@media (max-width: 992px){
    .contact{
        margin-left: auto;
        position: static;

        .contact-contain-left{
            position: static;
            height: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.8rem;
                padding: 0 20px;

                i{
                    font-size: 2rem;
                }
            }
        }

        .contact-contain-right{
            padding: 0;
            margin-top: 0;
            position: static;
            height: auto;
            
            form{
                padding: 20px 40px 0 40px;
                width: 100%;
                margin-left: 0;
                margin-top: 0;

                input, textarea{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .contact{
        .contact-contain-left > *{
            padding: 0;
        }
        .contact-contain-left > * :not(h1){
            display: none;
        }

        .contact-contain-left h1{
            font-size: 2rem;
        }

        .contact-contain-right{
            form{
                width: 100%;
                padding: 20px;

                input, textarea{
                    width: 100%;
                    color: rgba($color-blue-brand, $alpha: 0.4);
                    font-weight: bold;
                }
            }
        }

    }
}

@media (max-width: 576px){
    .contact{

        .contact-contain-left > *{
            padding: 0;
        }
        .contact-contain-left > * :not(h1){
            display: none;
        }

        .contact-contain-left h1{
            font-size: 2rem;
        }

        .contact-contain-right{
            form{
                width: 100%;
                padding: 20px;

                input, textarea{
                    width: 100%;
                    color: rgba($color-blue-brand, $alpha: 0.4);
                    font-weight: bold;
                }
            }
        }

    }
}

